In [39]:
import pandas as pd
import numpy as np
import sympy
import scipy
import sklearn.metrics as metrics
import statsmodels.api as sm
data = pd.read_csv('Purchase_Likelihood.csv')

In [40]:
data.head()

   group_size  homeowner  married_couple  A
0           2          0               1  1
1           2          0               1  1
2           2          0               1  1
3           2          0               1  1
4           2          0               1  1

In [41]:
def create_interaction (inDF1, inDF2):
    name1 = inDF1.columns
    name2 = inDF2.columns
    outDF = pd.DataFrame()
    for col1 in name1:
        for col2 in name2:
            outName = col1 + " * " + col2
            outDF[outName] = inDF1[col1] * inDF2[col2]
    return(outDF)

# A function that find the non-aliased columns, fit a logistic model, and return the full parameter estimates
def build_mnlogit (fullX, y, debug = 'N'):
    # Number of all parameters
    nFullParam = fullX.shape[1]

    # Number of target categories
    y_category = y.cat.categories
    nYCat = len(y_category)

    # Find the non-redundant columns in the design matrix fullX
    reduced_form, inds = sympy.Matrix(fullX.values).rref()

    # These are the column numbers of the non-redundant columns
    if (debug == 'Y'):
        print('Column Numbers of the Non-redundant Columns:')
        print(inds)

    # Extract only the non-redundant columns for modeling
    X = fullX.iloc[:, list(inds)]

    # The number of free parameters
    thisDF = len(inds) * (nYCat - 1)

    # Build a multionomial logistic model
    logit = sm.MNLogit(y, X)
    thisFit = logit.fit(method='newton', full_output = True, maxiter = 100, tol = 1e-8)
    thisParameter = thisFit.params
    thisLLK = logit.loglike(thisParameter.values)

    if (debug == 'Y'):
        print(thisFit.summary())
        print("Model Parameter Estimates:\n", thisParameter)
        print("Model Log-Likelihood Value =", thisLLK)
        print("Number of Free Parameters =", thisDF)

    # Recreat the estimates of the full parameters
    workParams = pd.DataFrame(np.zeros(shape = (nFullParam, (nYCat - 1))))
    workParams = workParams.set_index(keys = fullX.columns)
    fullParams = pd.merge(workParams, thisParameter, how = "left", left_index = True, right_index = True)
    fullParams = fullParams.drop(columns = '0_x').fillna(0.0)

    # Return model statistics
    return (thisLLK, thisDF, fullParams)

In [42]:
data = data.dropna()

In [43]:
y = data['A'].astype('category')

significanceList = []
dof = []
chi_sq_stats = []
# group_size, homeowner, married_couple, group_size * homeowner, and homeowner * married_couple 
# Specify JOB and REASON as categorical variables
xI = pd.get_dummies(data[['group_size']].astype('category'))
xJ = pd.get_dummies(data[['homeowner']].astype('category'))
xK = pd.get_dummies(data[['married_couple']].astype('category'))

In [44]:
# Intercept only
designX = pd.DataFrame(y.where(y.isnull(), 1))
LLK0, DF0, fullParams0 = build_mnlogit (designX, y, debug = 'Y')

Column Numbers of the Non-redundant Columns:
(0,)
Optimization terminated successfully.
         Current function value: 0.895013
         Iterations 5
                          MNLogit Regression Results
==============================================================================
Dep. Variable:                      A   No. Observations:               665249
Model:                        MNLogit   Df Residuals:                   665247
Method:                           MLE   Df Model:                            0
Date:                Wed, 30 Oct 2019   Pseudo R-squ.:               6.440e-11
Time:                        17:06:22   Log-Likelihood:            -5.9541e+05
converged:                       True   LL-Null:                   -5.9541e+05
Covariance Type:            nonrobust   LLR p-value:                       nan
==============================================================================
       A=1       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
A              1.0869      0.003    356.296      0.000       1.081       1.093
------------------------------------------------------------------------------
       A=2       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
A             -0.4086      0.004    -97.874      0.000      -0.417      -0.400
==============================================================================
Model Parameter Estimates:
           0         1
A  1.086931 -0.408633
Model Log-Likelihood Value = -595406.7618844223
Number of Free Parameters = 2

In [45]:
# Intercept + group_size
designX = sm.add_constant(xI, prepend=True)
LLK_1R, DF_1R, fullParams_1R = build_mnlogit (designX, y, debug = 'Y')
testDev = 2 * (LLK_1R - LLK0)
testDF = DF_1R - DF0
testPValue = scipy.stats.chi2.sf(testDev, testDF)
print('Deviance Chi=Square Test')
print('Chi-Square Statistic = ', testDev)
print('  Degreee of Freedom = ', testDF)
print('        Significance = ', testPValue)
chi_sq_stats.append(testDev)
dof.append(testDF)
significanceList.append(testPValue)

D:\Anaconda\lib\site-packages\numpy\core\fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

Column Numbers of the Non-redundant Columns:
(0, 1, 2, 3)
Optimization terminated successfully.
         Current function value: 0.894271
         Iterations 5
                          MNLogit Regression Results
==============================================================================
Dep. Variable:                      A   No. Observations:               665249
Model:                        MNLogit   Df Residuals:                   665241
Method:                           MLE   Df Model:                            6
Date:                Wed, 30 Oct 2019   Pseudo R-squ.:               0.0008293
Time:                        17:09:36   Log-Likelihood:            -5.9491e+05
converged:                       True   LL-Null:                   -5.9541e+05
Covariance Type:            nonrobust   LLR p-value:                4.348e-210
================================================================================
         A=1       coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------
const            0.5446      0.085      6.441      0.000       0.379       0.710
group_size_1     0.5042      0.085      5.958      0.000       0.338       0.670
group_size_2     0.7194      0.085      8.478      0.000       0.553       0.886
group_size_3     0.2535      0.088      2.873      0.004       0.081       0.426
--------------------------------------------------------------------------------
         A=2       coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------
const           -0.8656      0.124     -7.003      0.000      -1.108      -0.623
group_size_1     0.4247      0.124      3.433      0.001       0.182       0.667
group_size_2     0.5935      0.124      4.788      0.000       0.351       0.836
group_size_3     0.4493      0.128      3.511      0.000       0.198       0.700
================================================================================
Model Parameter Estimates:
                      0         1
const         0.544637 -0.865563
group_size_1  0.504173  0.424656
group_size_2  0.719357  0.593513
group_size_3  0.253455  0.449304
Model Log-Likelihood Value = -594912.9735841593
Number of Free Parameters = 8
Deviance Chi=Square Test
Chi-Square Statistic =  987.5766005259939
  Degreee of Freedom =  6
        Significance =  4.347870389531338e-210

In [46]:
# Intercept + group_size + homeowner
designX = xI
designX = designX.join(xJ)
designX = sm.add_constant(designX, prepend=True)
LLK_1R_1J, DF_1R_1J, fullParams_1R_1J = build_mnlogit (designX, y, debug = 'Y')
testDev = 2 * (LLK_1R_1J - LLK_1R)
testDF = DF_1R_1J - DF_1R
testPValue = scipy.stats.chi2.sf(testDev, testDF)
print('Deviance Chi=Square Test')
print('Chi-Square Statistic = ', testDev)
print('  Degreee of Freedom = ', testDF)
print('        Significance = ', testPValue)
chi_sq_stats.append(testDev)
dof.append(testDF)
significanceList.append(testPValue)

Column Numbers of the Non-redundant Columns:
(0, 1, 2, 3, 5)
Optimization terminated successfully.
         Current function value: 0.889861
         Iterations 5
                          MNLogit Regression Results
==============================================================================
Dep. Variable:                      A   No. Observations:               665249
Model:                        MNLogit   Df Residuals:                   665239
Method:                           MLE   Df Model:                            8
Date:                Wed, 30 Oct 2019   Pseudo R-squ.:                0.005757
Time:                        17:14:45   Log-Likelihood:            -5.9198e+05
converged:                       True   LL-Null:                   -5.9541e+05
Covariance Type:            nonrobust   LLR p-value:                     0.000
================================================================================
         A=1       coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------
const            0.6231      0.085      7.345      0.000       0.457       0.789
group_size_1     0.6779      0.085      7.982      0.000       0.511       0.844
group_size_2     0.7800      0.085      9.164      0.000       0.613       0.947
group_size_3     0.2616      0.089      2.955      0.003       0.088       0.435
homeowner_0     -0.4657      0.006    -74.177      0.000      -0.478      -0.453
--------------------------------------------------------------------------------
         A=2       coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------
const           -0.8252      0.124     -6.673      0.000      -1.068      -0.583
group_size_1     0.5087      0.124      4.109      0.000       0.266       0.751
group_size_2     0.6237      0.124      5.029      0.000       0.381       0.867
group_size_3     0.4534      0.128      3.541      0.000       0.202       0.704
homeowner_0     -0.2174      0.009    -25.396      0.000      -0.234      -0.201
================================================================================
Model Parameter Estimates:
                      0         1
const         0.623080 -0.825157
group_size_1  0.677917  0.508678
group_size_2  0.780020  0.623706
group_size_3  0.261568  0.453395
homeowner_0  -0.465659 -0.217417
Model Log-Likelihood Value = -591979.0828339825
Number of Free Parameters = 10
Deviance Chi=Square Test
Chi-Square Statistic =  5867.781500353478
  Degreee of Freedom =  2
        Significance =  0.0

In [47]:
# Intercept + group_size + homeowner + married_couple
designX = xI
designX = designX.join(xJ)
designX = designX.join(xK)
designX = sm.add_constant(designX, prepend=True)
LLK_1R_1J, DF_1R_1J, fullParams_1R_1J = build_mnlogit (designX, y, debug = 'Y')
testDev = 2 * (LLK_1R_1J - LLK_1R)
testDF = DF_1R_1J - DF_1R
testPValue = scipy.stats.chi2.sf(testDev, testDF)
print('Deviance Chi=Square Test')
print('Chi-Square Statistic = ', testDev)
print('  Degreee of Freedom = ', testDF)
print('        Significance = ', testPValue)
chi_sq_stats.append(testDev)
dof.append(testDF)
significanceList.append(testPValue)

Column Numbers of the Non-redundant Columns:
(0, 1, 2, 3, 5, 7)
Optimization terminated successfully.
         Current function value: 0.889797
         Iterations 5
                          MNLogit Regression Results
==============================================================================
Dep. Variable:                      A   No. Observations:               665249
Model:                        MNLogit   Df Residuals:                   665237
Method:                           MLE   Df Model:                           10
Date:                Wed, 30 Oct 2019   Pseudo R-squ.:                0.005828
Time:                        17:20:37   Log-Likelihood:            -5.9194e+05
converged:                       True   LL-Null:                   -5.9541e+05
Covariance Type:            nonrobust   LLR p-value:                     0.000
====================================================================================
             A=1       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------
const                0.6282      0.085      7.406      0.000       0.462       0.794
group_size_1         0.7836      0.086      9.143      0.000       0.616       0.952
group_size_2         0.7966      0.085      9.357      0.000       0.630       0.963
group_size_3         0.2652      0.089      2.996      0.003       0.092       0.439
homeowner_0         -0.4622      0.006    -73.503      0.000      -0.475      -0.450
married_couple_0    -0.1170      0.013     -9.184      0.000      -0.142      -0.092
------------------------------------------------------------------------------------
             A=2       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------
const               -0.8212      0.124     -6.641      0.000      -1.064      -0.579
group_size_1         0.5908      0.125      4.736      0.000       0.346       0.835
group_size_2         0.6370      0.124      5.135      0.000       0.394       0.880
group_size_3         0.4565      0.128      3.565      0.000       0.206       0.707
homeowner_0         -0.2147      0.009    -25.036      0.000      -0.232      -0.198
married_couple_0    -0.0908      0.017     -5.279      0.000      -0.125      -0.057
====================================================================================
Model Parameter Estimates:
                          0         1
const             0.628218 -0.821248
group_size_1      0.783564  0.590791
group_size_2      0.796634  0.636981
group_size_3      0.265184  0.456494
homeowner_0      -0.462188 -0.214712
married_couple_0 -0.116990 -0.090834
Model Log-Likelihood Value = -591936.7938327907
Number of Free Parameters = 12
Deviance Chi=Square Test
Chi-Square Statistic =  5952.3595027371775
  Degreee of Freedom =  4
        Significance =  0.0

In [48]:
# Intercept + group_size + homeowner + married_couple + group_size * homeowner
designX = xI
designX = designX.join(xJ)
designX = designX.join(xK)
# Create the columns for the group_size * homeowner interaction effect
xIJ = create_interaction(xI, xJ)
designX = designX.join(xIJ)
# xJK = create_interaction(xJ,xK)
designX = sm.add_constant(designX, prepend=True)
LLK_2RJ, DF_2RJ, fullParams_2RJ = build_mnlogit (designX, y, debug = 'Y')
testDev = 2 * (LLK_2RJ - LLK_1R_1J)
testDF = DF_2RJ - DF_1R_1J
testPValue = scipy.stats.chi2.sf(testDev, testDF)
print('Deviance Chi=Square Test')
print('Chi-Square Statistic = ', testDev)
print('  Degreee of Freedom = ', testDF)
print('        Significance = ', testPValue)
chi_sq_stats.append(testDev)
dof.append(testDF)
significanceList.append(testPValue)

Column Numbers of the Non-redundant Columns:
(0, 1, 2, 3, 5, 7, 9, 11, 13)
Optimization terminated successfully.
         Current function value: 0.889606
         Iterations 5
                          MNLogit Regression Results
==============================================================================
Dep. Variable:                      A   No. Observations:               665249
Model:                        MNLogit   Df Residuals:                   665231
Method:                           MLE   Df Model:                           16
Date:                Wed, 30 Oct 2019   Pseudo R-squ.:                0.006041
Time:                        17:30:48   Log-Likelihood:            -5.9181e+05
converged:                       True   LL-Null:                   -5.9541e+05
Covariance Type:            nonrobust   LLR p-value:                     0.000
==============================================================================================
                       A=1       coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------------------
const                          0.4343      0.091      4.765      0.000       0.256       0.613
group_size_1                   1.0079      0.092     10.955      0.000       0.828       1.188
group_size_2                   0.9467      0.092     10.341      0.000       0.767       1.126
group_size_3                   0.3436      0.095      3.608      0.000       0.157       0.530
homeowner_0                    0.8066      0.259      3.118      0.002       0.300       1.314
married_couple_0              -0.1260      0.013     -9.863      0.000      -0.151      -0.101
group_size_1 * homeowner_0    -1.3069      0.259     -5.050      0.000      -1.814      -0.800
group_size_2 * homeowner_0    -1.1239      0.259     -4.337      0.000      -1.632      -0.616
group_size_3 * homeowner_0    -0.6350      0.267     -2.376      0.017      -1.159      -0.111
----------------------------------------------------------------------------------------------
                       A=2       coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------------------
const                         -0.9310      0.134     -6.969      0.000      -1.193      -0.669
group_size_1                   0.7190      0.135      5.338      0.000       0.455       0.983
group_size_2                   0.7172      0.134      5.349      0.000       0.454       0.980
group_size_3                   0.5272      0.138      3.808      0.000       0.256       0.798
homeowner_0                    0.5489      0.361      1.523      0.128      -0.158       1.255
married_couple_0              -0.0963      0.017     -5.576      0.000      -0.130      -0.062
group_size_1 * homeowner_0    -0.7849      0.361     -2.177      0.030      -1.492      -0.078
group_size_2 * homeowner_0    -0.6749      0.361     -1.869      0.062      -1.383       0.033
group_size_3 * homeowner_0    -0.5793      0.372     -1.559      0.119      -1.308       0.149
==============================================================================================
Model Parameter Estimates:
                                    0         1
const                       0.434254 -0.930983
group_size_1                1.007889  0.718966
group_size_2                0.946669  0.717229
group_size_3                0.343616  0.527160
homeowner_0                 0.806590  0.548885
married_couple_0           -0.126020 -0.096265
group_size_1 * homeowner_0 -1.306858 -0.784944
group_size_2 * homeowner_0 -1.123886 -0.674949
group_size_3 * homeowner_0 -0.635018 -0.579316
Model Log-Likelihood Value = -591809.754770109
Number of Free Parameters = 18
Deviance Chi=Square Test
Chi-Square Statistic =  254.07812536344863
  Degreee of Freedom =  6
        Significance =  5.5121059685664295e-52

In [49]:
# Intercept + group_size + homeowner + married_couple + group_size * homeowner + homeowner * married_couple
designX = xI
designX = designX.join(xJ)
designX = designX.join(xK)

# Create the columns for the group_size * homeowner interaction effect
xIJ = create_interaction(xI, xJ)
designX = designX.join(xIJ)
xJK = create_interaction(xJ,xK)
designX = designX.join(xJK)

designX = sm.add_constant(designX, prepend=True)
LLK_2RJ, DF_2RJ, fullParams_2RJ = build_mnlogit (designX, y, debug = 'Y')
testDev = 2 * (LLK_2RJ - LLK_1R_1J)
testDF = DF_2RJ - DF_1R_1J
testPValue = scipy.stats.chi2.sf(testDev, testDF)
print('Deviance Chi=Square Test')
print('Chi-Square Statistic = ', testDev)
print('  Degreee of Freedom = ', testDF)
print('        Significance = ', testPValue)
chi_sq_stats.append(testDev)
dof.append(testDF)
significanceList.append(testPValue)

Column Numbers of the Non-redundant Columns:
(0, 1, 2, 3, 5, 7, 9, 11, 13, 17)
Optimization terminated successfully.
         Current function value: 0.889553
         Iterations 5
                          MNLogit Regression Results
==============================================================================
Dep. Variable:                      A   No. Observations:               665249
Model:                        MNLogit   Df Residuals:                   665229
Method:                           MLE   Df Model:                           18
Date:                Wed, 30 Oct 2019   Pseudo R-squ.:                0.006101
Time:                        17:43:09   Log-Likelihood:            -5.9177e+05
converged:                       True   LL-Null:                   -5.9541e+05
Covariance Type:            nonrobust   LLR p-value:                     0.000
==================================================================================================
                           A=1       coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
const                              0.4396      0.091      4.822      0.000       0.261       0.618
group_size_1                       1.0885      0.093     11.763      0.000       0.907       1.270
group_size_2                       0.9573      0.092     10.454      0.000       0.778       1.137
group_size_3                       0.3439      0.095      3.610      0.000       0.157       0.531
homeowner_0                        0.8002      0.259      3.093      0.002       0.293       1.307
married_couple_0                  -0.2157      0.017    -12.873      0.000      -0.249      -0.183
group_size_1 * homeowner_0        -1.5056      0.260     -5.793      0.000      -2.015      -0.996
group_size_2 * homeowner_0        -1.1646      0.259     -4.493      0.000      -1.673      -0.657
group_size_3 * homeowner_0        -0.6546      0.267     -2.450      0.014      -1.178      -0.131
homeowner_0 * married_couple_0     0.2125      0.026      8.224      0.000       0.162       0.263
--------------------------------------------------------------------------------------------------
                           A=2       coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
const                             -0.9255      0.134     -6.927      0.000      -1.187      -0.664
group_size_1                       0.8015      0.135      5.923      0.000       0.536       1.067
group_size_2                       0.7281      0.134      5.429      0.000       0.465       0.991
group_size_3                       0.5275      0.138      3.810      0.000       0.256       0.799
homeowner_0                        0.5423      0.361      1.504      0.133      -0.164       1.249
married_couple_0                  -0.1882      0.023     -8.327      0.000      -0.232      -0.144
group_size_1 * homeowner_0        -0.9834      0.362     -2.716      0.007      -1.693      -0.274
group_size_2 * homeowner_0        -0.7156      0.361     -1.981      0.048      -1.423      -0.008
group_size_3 * homeowner_0        -0.5987      0.372     -1.611      0.107      -1.327       0.130
homeowner_0 * married_couple_0     0.2124      0.035      6.065      0.000       0.144       0.281
==================================================================================================
Model Parameter Estimates:
                                        0         1
const                           0.439563 -0.925506
group_size_1                    1.088485  0.801493
group_size_2                    0.957293  0.728103
group_size_3                    0.343931  0.527471
homeowner_0                     0.800157  0.542297
married_couple_0               -0.215748 -0.188178
group_size_1 * homeowner_0     -1.505554 -0.983441
group_size_2 * homeowner_0     -1.164638 -0.715556
group_size_3 * homeowner_0     -0.654639 -0.598700
homeowner_0 * married_couple_0  0.212483  0.212433
Model Log-Likelihood Value = -591774.3336317239
Number of Free Parameters = 20
Deviance Chi=Square Test
Chi-Square Statistic =  324.9204021336045
  Degreee of Freedom =  8
        Significance =  2.025652488640302e-65

In [50]:
# ALl except => (0, 1, 2, 3, 5, 7, 9, 11, 13, 17) => alias parameters
# Degree of Freedom => 8
# c) chi sq test stats , signifcance , degree of freedom
# d) table values for feature importance index


import math
index_vals = [
              'Intercept + group_size',
              'Intercept + group_size + homeowner',
              'Intercept + group_size + homeowner + married_couple',
              'Intercept + group_size + homeowner + married_couple + group_size * homeowner',
              'Intercept + group_size + homeowner + married_couple + group_size * homeowner + homeowner * married_couple']

logs = [-math.log(s,10) if s!=0 else 0 for s in significanceList]
d = {'Chi Square Test':chi_sq_stats,'Significance':significanceList,'Degrees Of Freedom':dof,'Feature Importance Index':logs}
dataframe = pd.DataFrame(d,index=index_vals)
dataframe

,Chi Square Test,Significance,Degrees Of Freedom,Feature Importance Index
Intercept + group_size,987.576601,4.347870e-210,6,209.361723
Intercept + group_size + homeowner,5867.781500,0.000000e+00,2,0.000000
Intercept + group_size + homeowner + married_couple,5952.359503,0.000000e+00,4,0.000000
Intercept + group_size + homeowner + married_couple + group_size * homeowner,254.078125,5.512106e-52,6,51.258682
Intercept + group_size + homeowner + married_couple + group_size * homeowner + homeowner * married_couple,324.920402,2.025652e-65,8,64.693435

In [51]:
# (0, 1, 2, 3, 5, 7, 9, 11, 13, 17)
X = [0,1, 2, 3, 5, 7,9, 11, 13, 17]
designX.loc[:, ~designX.columns.isin([list(designX.columns)[i] for i in range(0,len(designX)) if i in X])].head()
# designX.head()

,group_size_4,homeowner_1,married_couple_1,group_size_1 * homeowner_1,group_size_2 * homeowner_1,group_size_3 * homeowner_1,group_size_4 * homeowner_0,group_size_4 * homeowner_1,homeowner_0 * married_couple_1,homeowner_1 * married_couple_0,homeowner_1 * married_couple_1
0,0,0,1,0,0,0,0,0,1,0,0
1,0,0,1,0,0,0,0,0,1,0,0
2,0,0,1,0,0,0,0,0,1,0,0
3,0,0,1,0,0,0,0,0,1,0,0
4,0,0,1,0,0,0,0,0,1,0,0

In [76]:
import itertools
# e)
combination = []
group_size = data['group_size'].unique().tolist()
group_size.sort()
combination.append(group_size)
combination.append(data['homeowner'].unique().tolist())
combination.append(data['married_couple'].unique().tolist())
print('Combinations list', combination)
X = list(itertools.product(*combination))
combination = []
for i in X:
    combination.append(i)
    
df = pd.DataFrame(combination,columns=['group_size','homeowner','married_couple'])#index=[i for i in range(1,17)])
df

Combinations list [[1, 2, 3, 4], [0, 1], [1, 0]]

    group_size  homeowner  married_couple
0            1          0               1
1            1          0               0
2            1          1               1
3            1          1               0
4            2          0               1
5            2          0               0
6            2          1               1
7            2          1               0
8            3          0               1
9            3          0               0
10           3          1               1
11           3          1               0
12           4          0               1
13           4          0               0
14           4          1               1
15           4          1               0

In [61]:
len(designX.columns)

21

In [62]:
df

,group_size,homeowner,married_couple,group_size_1 * homeowner_0,group_size_1 * homeowner_1,group_size_2 * homeowner_0,group_size_2 * homeowner_1,group_size_3 * homeowner_0,group_size_3 * homeowner_1,group_size_4 * homeowner_0,group_size_4 * homeowner_1,homeowner_0 * married_couple_0,homeowner_0 * married_couple_1,homeowner_1 * married_couple_0,homeowner_1 * married_couple_1
0,1,0,1,1,0,0,0,0,0,0,0,0,1,0,0
1,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0
2,1,1,1,0,1,0,0,0,0,0,0,0,0,0,1
3,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0
4,2,0,1,0,0,1,0,0,0,0,0,0,1,0,0
5,2,0,0,0,0,1,0,0,0,0,0,1,0,0,0
6,2,1,1,0,0,0,1,0,0,0,0,0,0,0,1
7,2,1,0,0,0,0,1,0,0,0,0,0,0,1,0
8,3,0,1,0,0,0,0,1,0,0,0,0,1,0,0
9,3,0,0,0,0,0,0,1,0,0,0,1,0,0,0
10,3,1,1,0,0,0,0,0,1,0,0,0,0,0,1
11,3,1,0,0,0,0,0,0,1,0,0,0,0,1,0
12,4,0,1,0,0,0,0,0,0,1,0,0,1,0,0
13,4,0,0,0,0,0,0,0,0,1,0,1,0,0,0
14,4,1,1,0,0,0,0,0,0,0,1,0,0,0,1
15,4,1,0,0,0,0,0,0,0,0,1,0,0,1,0

In [106]:
# Create the columns for the group_size * homeowner interaction effect
x1 = pd.get_dummies(df[['group_size']].astype('category'))
x2 = pd.get_dummies(df[['homeowner']].astype('category'))
x3 = pd.get_dummies(df[['married_couple']].astype('category'))

y = data['A'].astype('category')
y_ = pd.DataFrame(y.where(y.isnull(), 1))


t = x1.join(x2)
t = t.join(x3)
t = t.join(create_interaction(x1,x2))
t = t.join(create_interaction(x2,x3))
t = t.join(y_)
# print(t.shape)
# print(t)
# x12 = create_interaction(x1, x2)

logit = sm.MNLogit(y, designX)
thisFit = logit.fit(method='newton', full_output = True, maxiter = 100, tol = 1e-8)
pred = thisFit.predict(t.astype('float'))
# pd.DataFrame(pred)

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.889553
         Iterations: 100

D:\Anaconda\lib\site-packages\statsmodels\base\model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

In [108]:
pd.DataFrame(pred) #e)

           0         1         2
0   0.232693  0.631125  0.136182
1   0.339172  0.526404  0.134424
2   0.291708  0.558614  0.149678
3   0.277631  0.571913  0.150455
4   0.211361  0.593611  0.195028
5   0.309408  0.497251  0.193341
6   0.273431  0.528846  0.197723
7   0.260127  0.541208  0.198666
8   0.231448  0.570103  0.198450
9   0.334430  0.471382  0.194188
10  0.247842  0.563490  0.188669
11  0.235309  0.575504  0.189187
12  0.329440  0.439438  0.231122
13  0.446750  0.340999  0.212251
14  0.230644  0.569701  0.199654
15  0.218756  0.581247  0.199997

In [98]:
t

,group_size_1,group_size_2,group_size_3,group_size_4,homeowner_0,homeowner_1,married_couple_0,married_couple_1,group_size_1 * homeowner_0,group_size_1 * homeowner_1,...,group_size_2 * homeowner_1,group_size_3 * homeowner_0,group_size_3 * homeowner_1,group_size_4 * homeowner_0,group_size_4 * homeowner_1,homeowner_0 * married_couple_0,homeowner_0 * married_couple_1,homeowner_1 * married_couple_0,homeowner_1 * married_couple_1,A
0,1,0,0,0,1,0,0,1,1,0,...,0,0,0,0,0,0,1,0,0,1
1,1,0,0,0,1,0,1,0,1,0,...,0,0,0,0,0,1,0,0,0,1
2,1,0,0,0,0,1,0,1,0,1,...,0,0,0,0,0,0,0,0,1,1
3,1,0,0,0,0,1,1,0,0,1,...,0,0,0,0,0,0,0,1,0,1
4,0,1,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,1
5,0,1,0,0,1,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,1
6,0,1,0,0,0,1,0,1,0,0,...,1,0,0,0,0,0,0,0,1,1
7,0,1,0,0,0,1,1,0,0,0,...,1,0,0,0,0,0,0,1,0,1
8,0,0,1,0,1,0,0,1,0,0,...,0,1,0,0,0,0,1,0,0,1
9,0,0,1,0,1,0,1,0,0,0,...,0,1,0,0,0,1,0,0,0,1
10,0,0,1,0,0,1,0,1,0,0,...,0,0,1,0,0,0,0,0,1,1
11,0,0,1,0,0,1,1,0,0,0,...,0,0,1,0,0,0,0,1,0,1
12,0,0,0,1,1,0,0,1,0,0,...,0,0,0,1,0,0,1,0,0,1
13,0,0,0,1,1,0,1,0,0,0,...,0,0,0,1,0,1,0,0,0,1
14,0,0,0,1,0,1,0,1,0,0,...,0,0,0,0,1,0,0,0,1,1
15,0,0,0,1,0,1,1,0,0,0,...,0,0,0,0,1,0,0,1,0,1